/* .Tilt {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,20,153,1) 35%, rgba(0,212,255,1) 100%);
} */

.logo-div {
    display: inline-flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 175px;
    border-radius: 1rem;
    box-shadow: 0 0 10px 12px rgba( 0, 0, 0, .2 );
}